@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(180,142,93);
    font-family: 'Heebo', sans-serif;
}

.wrapper {
    width: 100%;
    max-width: 1000px;
    min-height: 100%;
    margin: 0 auto;
    background: rgb(172 128 74);


    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 5rem 5rem 1fr; 

}

header {
    width: 100%;
    grid-column: 1 / -1;

    display: flex;
    justify-content: center;
    background: rgb(0 0 0 / 0.2);
}

.counter-board {
    width: 100%;
    grid-column: 1 / -1;

    background: rgb(255 255 255 / 0.1);


    display: flex;
    align-items: center;
}

main {
    width: 100%;
    grid-column: 2 / -1;

    background: rgb(255 255 255 / 0.4);
}

.aside-left {
    width: 100%;
    grid-column: 1 / 2;

    background: rgb(255 255 255 / 0.2); 
    padding: 1rem;
}

.aside-right {
    width: 100%;
    grid-column: 1 / -1;

    background: rgb(255 255 255 / 0.2);
    padding: 1rem;
}

.main__start-screen {
    width: 100%;
    min-height: 20rem;
    /* background: red; */
    padding: 2rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.main__game-board {
    width: 100%;
    min-height: 20rem;
    /* background: red; */
    padding: 0.5rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.game-board__word-board {
    width: 100%;
    height: 5rem;
    padding: 0.3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row nowrap;
    background: #8A673B;
    border-radius: 10px;
    box-shadow: inset 2px 2px 30px rgb(0 0 0 / .2);

}

.word-board__letter-slot {
    width: 3rem;
    height: 3rem;
    padding-left: 0.65rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-transform: uppercase;
    font-size: 2rem;
    border: 2px solid black;
    border-radius: 10px;;
    background: rgb(255 255 255 / 0.3);
    box-shadow: 2px 2px 20px rgb(0 0 0 / .2);

}






/* TEXT */

header h1 span {
    color: rgb(255 255 255 / 0.6);
}
header h1 {
    color: rgb(0 0 0 / .5);
    min-width: 321px;
}
h2 {
    margin: 0;
    color: rgb(0 0 0 / .4);

}

.counter-board__timer-p {
    font-size: 2rem;
    margin: 0 0 0 2rem;
    padding: 0.3rem;
    min-width: 10rem;


    background: rgb(0 0 0 / .2);
    border-radius: 10px;
}


.aside-left li, .aside-left p {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
}

.win-message {
    text-align: center;
    font-size: 1.3rem;
    margin: 2rem 0;
}




/* BUTTONS */

button {
    font-family: 'Heebo';
    min-width: 10rem;
    min-height: fit-content;
    font-size: 2rem;
    border-radius: 10px;
    border: none;
    box-shadow: 6px 6px 20px rgb(139 103 59 / 0.8);
    cursor: pointer;
    background: rgb(52 131 168);
    color: #CDB393;
    /* color: rgb(83, 61, 35); */
    padding: 0.3rem 0;
    white-space: nowrap;

}



/* INPUTS */

input {
    font-family: 'Heebo';
}

.start-screen__input {
    font-size: 1.6rem;
    padding-left: 0.5rem;
}


/* UL */

.aside-left ul {
    list-style: none;
    padding-left: 0;
}

.aside-right ul {
    padding-left: 1rem;
}


.aside-right ul li {
    margin: 1rem 0;
}





.hidden {
    visibility: hidden;
}




/* MEDIA QUERIES*/


@media screen and (min-width: 500px) {
    .wrapper {
        width: 100%;
        max-width: 1000px;
        min-height: 100%;
        margin: 0 auto;
        background: rgb(172 128 74);
    
    
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 5rem 5rem 1fr; 
    
    }

    main {
        width: 100%;
        grid-column: 2 / -2;
    
        background: rgb(255 255 255 / 0.4);
    }
    
    .aside-left {
        width: 100%;
        grid-column: 1 / 2;
    
        background: rgb(255 255 255 / 0.2); 
        padding: 1rem;
    }
    
    .aside-right {
        width: 100%;
        grid-column: -2 / -1;
    
        background: rgb(255 255 255 / 0.2);
        padding: 1rem;
    }

    .main__game-board {
        
        padding: 2rem;

    }
}